/* SCREEN SIZE VARIABLES */
/*  */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
body:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #0093E9;
  background-image: linear-gradient(135deg, #FFFFFF 10%, #e0e0e0 100%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sticky-button {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 95px;
  border-radius: 50%;
  background: #F44336;
  font-size: 18px;
  text-align: center;
  position: fixed;
  top: 200px;
  right: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.sticky-button .fa {
  font-size: 35px;
  color: white;
}
.flex-center {
  padding-top: 65px;
}
@media (min-width: 768px) {
  .content {
    width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .content {
    width: 970px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1170px;
    margin: 0 auto;
  }
}
@media (min-width: 1530px) {
  .content {
    width: 1500px;
    margin: 0 auto;
  }
}
.content h1 {
  font-size: 65px;
  line-height: 49px;
  margin: 0;
  margin-bottom: 95px;
  color: #F44336;
}
.content .items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.content .items-container .item {
  width: 100%;
  height: 225px;
  padding: 0 5px;
}
@media (min-width: 768px) {
  .content .items-container .item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .content .items-container .item {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .content .items-container .item {
    width: 25%;
  }
}
.content .items-container .item .card-link {
  transition: 0.2s transform ease;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: top center;
  border: solid 1px #868686;
  box-shadow: 10px 12px 15px -15px black;
}
.content .items-container .item .card-link .card-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.content .items-container .item .card-link .card-wrap .info-element {
  transition: .4s top ease;
  position: absolute;
  top: 100%;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.content .items-container .item .card-link .card-wrap .info-element span {
  color: white;
  display: block;
  line-height: 24px;
  font-size: 18px;
}
.content .items-container .item .card-link:active {
  transform: scale(0.95);
}
.content .items-container .item .card-link:hover .card-wrap .info-element {
  top: 0;
}
